<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADGV" version="0.1.0.10" targetFramework="net452" />
  <package id="Controls" version="1.0.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="jQuery" version="2.1.1" targetFramework="net452" />
  <package id="paper-behaviors" version="1.0.0" targetFramework="net452" />
  <package id="paper-ripple" version="1.0.0" targetFramework="net452" />
  <package id="paper-styles" version="1.0.3" targetFramework="net452" />
  <package id="polymer" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-a11y-keys-behavior" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-behaviors" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-flex-layout" version="1.0.1" targetFramework="net452" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.105.2" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.105.2" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.105.2" targetFramework="net452" />
  <package id="System.Windows.Controls.DataVisualization.Toolkit" version="4.0.0.0" targetFramework="net452" />
  <package id="Toolkit.WPF" version="1.0.5752.28159" targetFramework="net452" />
</packages>